.status-bar{
    width: 100%;
    background-color: #FFCE32;
    display: flex;
    justify-content: space-between;
    padding: 75px 0;
 
}

.status-bar__column:nth-child(2){
    font-size: 35px;
}
.status-bar__column:nth-child(1){
    padding-left: 20px;
}
.status-bar__column:nth-child(3){
    padding-right: 20px;
}